.arx-path {
    flex: 1 1 auto;
    margin-top: -1px;
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 12px;
    padding-left: 8px;
    box-sizing: border-box;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    & a {
        padding-bottom: 14px;
        padding-left: 4px;
        padding-right: 8px;
        padding-top: 16px;
        margin: 0;
        margin-right: 8px;
        display: inline-block;
        line-height: 1.1;
        color: rgba($color-black, .6);
        text-decoration: none;
        position: relative;


        &:after {
            content: '';
            position: absolute;
            background-color: rgba($color-black, .15);
            width: 1px;
            height: 14px;
            top: 16px;
            right: -2px;
        }
        &:last-child:after {
            display: none;
        }
        &:hover {
            color: $color-blue;
            text-decoration: underline;
        }
    }
    & a.active {
        color: rgba($color-black, 1);
        letter-spacing: -0.025em;
        &:before {
            top: 0;
            left: 0;
            content: '';
            position: absolute;
            width: 106%;
            margin-left: -3px;
            height: 3px;
            background-color: rgba($color-blue, .5);
        }
        &:hover {
            cursor: text;
            color: rgba($color-black, .9);
            text-decoration: none;
        }
        &:first-child {
            letter-spacing: 0;
            color: rgba($color-black, .65);
        }
    }
    & a.disable {
        &,
        &:hover {
            cursor: default;
            opacity: .5;
            color: rgba($color-black, .45);
            text-decoration: none;
            &:before {
                display: none;
            }
        }
    }
}