.arx-popup-add {
    padding: 12px;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 384px;
    background-color: #fff;

    & .arx-button {
        border: none;
        font-size: 16px;
        padding: 0;
        width: 96px;
        height: 80px;
        color: rgba(#111, .9);
        text-align: center;
        text-decoration: none;
        display: flex;
        flex-direction: column;

        &:hover {
            //color: rgba(#fff, 1);
            //background-color: rgba(#fff, 0.1);
        }
    }
    & .arx-button-icon {
        padding-top: 3px;
    }
    & .arx-button-title {
        margin-top: 7px;
        font-size: 12px;
        color: rgba(#111, .55);
    }
}