// =Breakpoints
$sm: 768px !default;


// =Font
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !default;
$font-monospace: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace !default;


// =Color
$color-black: #131314 !default;
$color-red: #ff3265 !default;
$color-blue: #458fff !default;


// Grid
$grid__color: rgba(#458fff, .05);